@import '../../../styles/_variables.scss';
@import '../../../styles/_media-queries.scss';

.wrapper {
  font-family: sans-serif;
  font-size: calc(12px + 1vw);
  text-align: center;
  display: grid;
  grid-template-areas:
    ". header ."
    "side content ."
    "footer footer footer";
  
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  height: 100vh;
  margin: 0 50px;
  &__pagination {
    margin-bottom: 60px;
  }
  @include respond-below(lg) {
    grid-template-columns: 110px 1fr 110px;
  }
  @include respond-below(md) {
    grid-template-columns: 40px 1fr 40px;
  }
  @include respond-below(sm) {
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-columns: 1fr;
  }
}

    
main {
  grid-area: content;
  min-width: 0;
  @extend %flex;
  @include flex-direction(column);
}

aside { grid-area: side }
footer { grid-area: footer }
header { grid-area: header }