@import '../../../../styles/_variables.scss';

.reply {
  box-shadow: $default-shadow;
  padding: 30px 0;
  margin-bottom: 15px;
  text-align: left;
  &__header {
    h6 {
      margin: 0 0 0 0;
      display: inline-block;
    }
    &__collapse {
      width: 60px;
      display: inline-block;
      text-align: center;
      span {
        cursor: pointer;
        color: $alt-grey;
        vertical-align: middle;
      }
    }
  }
  
  &__body {
    padding: 30px 60px;
    @include selftextProps();
    &__collapsed {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &.reply--collapsed .reply {
    @extend %flex;
    &__body {
      flex: 1;
      text-align: center;
      padding-top: 10px;
    }
  }
}