$main-blue: #2D83F5;
$main-white: #FFFFFF;
$alt-grey: #C5C2C2;
$alt-spacegrey: #4b4b4b;
$background-grey: #E2E1E0;
$body-grey: #e2e1e0;

$default-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

%flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin selftextProps() {
  line-height: 1.4em;
  font-size: 0.95rem;
  text-align: left;
}

@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
       -moz-justify-content: $justify;
        -ms-justify-content: $justify;
            justify-content: $justify;
              -ms-flex-pack: $justify;
}

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
       -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}

@mixin align-items($align) {
    -webkit-align-items: $align;
      -webkit-box-align: $align;
       -moz-align-items: $align;
        -ms-align-items: $align;
            align-items: $align;
}