@import '../../../styles/_variables.scss';

.main-header {
  @extend %flex;
  @include justify-content(space-between);
  margin: 10vh 0 0 50px;
  &__title {
    h2 {
      color: $main-blue;
      text-transform: uppercase;
      line-height: 39px;
    }
  }
  &__options {
    @extend %flex;
    @include align-items(center); 
    margin-top: auto;
  }
}