@import '../../../styles/_variables.scss';

.main-header {
  @extend %flex;
  @include justify-content(space-between);
  margin-top: 10vh;
  &__title {
    h2 {
      color: $main-blue;
      margin: 0;
      text-transform: uppercase;
      line-height: 39px;
    }
  }
  &__options {
    @extend %flex;
    @include align-items(center); 
    margin-top: auto;
    form { border-right: 2px solid $body-grey;}
    &__input {
      background-color: $alt-grey;
      padding: 10px;
      border: 0;
      border-right: 2px solid $alt-grey;
      color: $background-grey;
      &::placeholder {
        color: $alt-spacegrey;
      };
    }
  }
}