@import '../../styles/_variables.scss';

.main-header {
  @extend %flex;
  @include justify-content(space-between);
  margin: 10vh 0 0 50px;
  &__title {
    h1 {
      color: #2d83f5;
      text-transform: uppercase;
      line-height: 39px;
    }
  }
  &__options {
    @extend %flex;
    @include align-items(center); 
    margin-top: auto;
    &__btn {
      background-color: #c5c2c2;
      width: 30px;
      height: 30px;
      border: 0;
      cursor: pointer;
      &:hover {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        background-color: #2d83f5;
        color: #FFFFFF;
        transform: scale(1.1);
      }
      &.btn--selected {
        background-color: #2d83f5;
        color: #FFFFFF;
      }
    }
  }
}