@import '../../styles/_variables.scss';

.main-header {
  @extend %flex;
  @include justify-content(space-between);
  margin: 10vh 0 0 50px;
  &__title {
    h1 {
      color: #2d83f5;
      text-transform: uppercase;
      line-height: 39px;
    }
  }
  &__options {
    @extend %flex;
    @include align-items(center); 
    margin-top: auto;
    &__btn {
      background-color: #c5c2c2;
      margin: 0 5px;
      padding: 5px;
      border: 0;
      &:hover {
        background-color: #2d83f5;
        color: #FFFFFF;
      }
    }
  }
}